---
kind: Namespace
apiVersion: v1
metadata:
  name: authentik
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: authentik-configsecrets
  namespace: authentik
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  refreshInterval: "5m"
  secretStoreRef:
    kind: ClusterSecretStore
    name: 1password
  target:
    creationPolicy: Owner
  data:
    - secretKey: bootstrap_password
      remoteRef:
        key: authentik
        property: bootstrap_password
    - secretKey: bootstrap_token
      remoteRef:
        key: authentik
        property: bootstrap_token
    - secretKey: bootstrap_email
      remoteRef:
        key: authentik
        property: bootstrap_email
    - secretKey: secret_key
      remoteRef:
        key: authentik
        property: secret_key
    - secretKey: postgrespassword
      remoteRef:
        key: authentik-db-credentials
        property: password
    - secretKey: postgresuser
      remoteRef:
        key: authentik-db-credentials
        property: username
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: authentik-application
  namespace: argocd
spec:
  destination:
    namespace: authentik
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: authentik
    repoURL: https://charts.goauthentik.io
    targetRevision: 2025.10.3
    helm:
      valuesObject:
        server:
          ingress:
            enabled: false
        authentik:
          postgresql:
            host: "authentik-dbc-rw.postgres"
            name: "authentik"
            host_reader: "authentik-dbc-ro.postgres"
        redis:
          enabled: true
          master:
            persistence:
              enabled: false
        global:
          env:
            - name: AUTHENTIK_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  key: secret_key
                  name: authentik-configsecrets
            - name: AUTHENTIK_BOOTSTRAP_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: bootstrap_password
                  name: authentik-configsecrets
            - name: AUTHENTIK_BOOTSTRAP_TOKEN
              valueFrom:
                secretKeyRef:
                  key: bootstrap_token
                  name: authentik-configsecrets
            - name: AUTHENTIK_BOOTSTRAP_EMAIL
              valueFrom:
                secretKeyRef:
                  key: bootstrap_email
                  name: authentik-configsecrets
            - name: AUTHENTIK_POSTGRESQL__USER
              valueFrom:
                secretKeyRef:
                  key: postgresuser
                  name: authentik-configsecrets
            - name: AUTHENTIK_POSTGRESQL__PASSWORD
              valueFrom:
                secretKeyRef:
                  key: postgrespassword
                  name: authentik-configsecrets
  syncPolicy:
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true