apiVersion: v1
kind: Service
metadata:
  name: pocket-id
  namespace: pocket-id
  labels:
    app: pocket-id
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 1411
      protocol: TCP
      name: http
  selector:
    app: pocket-id
