apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: longhorn-application
  namespace: argocd
spec:
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true
  ignoreDifferences:
  - group: apiextensions.k8s.io
    kind: CustomResourceDefinition
    jsonPointers:
    - /spec/preserveUnknownFields
  project: default
  sources:
    - chart: longhorn
      repoURL: https://charts.longhorn.io/
      targetRevision: 1.11.0
      helm:
        values: |
          preUpgradeChecker:
            jobEnabled: false
            upgradeVersionCheck: false
          image:
            longhorn:
              manager:
                tag: v1.11.0-hotfix-1
              instanceManager:
                tag: v1.11.0-hotfix-1
  destination:
    server: https://kubernetes.default.svc
    namespace: longhorn-system