apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: promtail-application
  namespace: argocd
spec:
  project: default
  source:
    chart: promtail
    repoURL: https://grafana.github.io/helm-charts
    targetRevision: 6.16.6
    helm:
      valuesObject:
        config:
          clients:
            - url: http://loki-application.monitoring:3100/loki/api/v1/push
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
