apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: kayro
  labels:
    external-secrets.io/type: webhook
spec:
  refreshInterval: "5m"
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-login
  target:
    creationPolicy: Owner
  data:
    - secretKey: password
      sourceRef:
        storeRef:
          name: bitwarden-login
          kind: ClusterSecretStore  # or SecretStore
      remoteRef:
        key: fe0a8360-b8ea-4e7e-b329-5677064609a7
        property: password