apiVersion: apps/v1
kind: Deployment
metadata:
  name: ntfy
spec:
  selector:
    matchLabels:
      app: ntfy
  template:
    metadata:
      labels:
        app: ntfy
    spec:
      containers:
      - name: ntfy
        image: binwiederhier/ntfy:v2.15
        args: ["serve"]
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 80
          name: http
        livenessProbe:
          httpGet:
            path: /v1/health
            port: 80
          initialDelaySeconds: 40
          timeoutSeconds: 10
          periodSeconds: 60
          failureThreshold: 3
        volumeMounts:
        - name: config
          mountPath: "/etc/ntfy"
          readOnly: true
        - name: user-db
          mountPath: "/var/lib/ntfy/auth/"
          readOnly: false
        - name: cache
          mountPath: "/var/cache/ntfy/"
          readOnly: false
      volumes:
        - name: config
          secret:
            secretName: ntfy-config
        - name: user-db
          persistentVolumeClaim:
            claimName: ntfy-user-db
        - name: cache
          persistentVolumeClaim:
            claimName: ntfy-cache
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: ntfy-user-db
  namespace: ntfy
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Mi
  storageClassName: longhorn
  volumeMode: Filesystem
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: ntfy-cache
  namespace: ntfy
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Mi
  storageClassName: longhorn
  volumeMode: Filesystem
---
apiVersion: v1
kind: Service
metadata:
  name: ntfy
spec:
  selector:
    app: ntfy
  ports:
  - port: 80
    targetPort: 80