apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - authentik-cnpg-cluster.yaml
  - vikunja-cnpg-cluster.yaml
  - n8n-cnpg-cluster.yaml
  - vaultwarden-cnpg-cluster.yaml
  - immich-cnpg-cluster.yaml
  - synapse-cnpg-cluster.yaml
  - scheduled-backups.yaml
  - network-policy.yaml
