apiVersion: apps/v1
kind: Deployment
metadata:
  name: bitwarden-cli
  labels:
    app: bitwarden-cli
spec:
  revisionHistoryLimit: 1
  replicas: 1
  selector:
    matchLabels:
      app: bitwarden-cli
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: bitwarden-cli
    spec:
      containers:
      - image: ghcr.io/charlesthomas/bitwarden-cli:2025.2.0
        name: bitwarden-cli
        ports:
        - containerPort: 8087
        resources:
          limits:
            cpu: "1"
            memory: 64Mi
            ephemeral-storage: 64Mi
          requests:
            cpu: 10m
            memory: 16Mi